<%- include('partials/header'); -%>

    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>


    <% postdata.forEach((element)=>{ %>
        <h1>
            <%= element.PostTitle %>
        </h1>
        <% if (element.PostData.length> 100) { %>
            <% var string=element.PostData.substring(0, 99) + "..." ; %>
                <p>
                    <%= string %>
                    <a href="/post/<%= element.PostTitle%>">Read More</a>
                </p>
                
        <% } else{ %>
            <p>
                <%= element.PostData %>
            </p>
        <% } %>
    <% }) %>




<%- include('partials/footer'); -%>