<%- include('partials/header'); -%>


    <% postdata.forEach((element)=>{ %>
        <h1>
            <%= element.name %>
        </h1>
        <% if (element.content.length> 100) { %>
            <% var string=element.content.substring(0, 99) + "..." ; %>
                <p>
                    <%= string %>
                    <a href="/post/<%= element.name %>">Read More</a>
                </p>
                
        <% } else{ %>
            <p>
                <%= element.content %>
            </p>
        <% } %>
    <% }) %>




<%- include('partials/footer'); -%>